<% cache do %>
<% provide(:page_title, 'О нас') %>
<div class="hback">
<%=image_tag("kmz3.jpg")%>
</div>
<div class="about">
 <div class="container">
 	<h3>ВВЕДЕНИЕ</h3>
 	<div class="arow1">
 		<div class="agrid1">
 			<h4>Представляем Вам краткое описание ООО "КМЗ"</h4>
 			<p class="offs2">
 				История завода начинается с 1979 года. Первое название предприятия «Красноармейский специализированный завод средств пылеподавления». Специализировался на выпуске и ремонте горно-шахтного оборудования: вентиляторов местного проветривания, вентиляторов газо-отсасывающих, установок водяного пожаротушения, форсунок, фильтров, высоконапорных насосных установок, бурильных станков.
 			</p>
 		</div>
 		<div class="agrid1">
 			<p>
               В августе 2010 года произошла смена собственника и генеральным директором предприятия был назначен Андрийченко Сергей Сергеевич, возглавивший коллектив в очень сложное для предприятия время.  
 			</p>
 			<p>
             С приходом нового руководства была произведена полная модернизация производства, и теперь  цикл «заготовительный цех-токарная обработка-механическая обработка-термическая обработка-шлифовка-сборка» происходит полностью в цехах завода.
 			</p>
 		</div>
 	</div>

 	<div class="arow2">
     
 		<div class="agrid2">
 			<%=image_tag("about1.jpg")%>
 			<h3>НОВЫЕ ТЕХНОЛОГИИ И РАЗРАБОТКИ</h3>
 			<p>
 			  Руквоводство предприятия проводит политику направленную на внедрение новых технологий в произвоственный процесс для увеличения эффективности и улучшения условий труда персонала. В настоящее время конструкторское бюро завода совместно с научным институтом ГП «Донгипроуглемаш» разрабатывает выпуск нового оборудования. 
 			</p>
 		</div>

 		<div class="agrid2">
         <%=image_tag("about21.jpg")%>
         <h3>СОЦИАЛЬНАЯ ОТВЕТСТВЕННОСТЬ</h3>
         <p>
         	Принцип социальной ответственности, которым руководствуется предприятие в своей деятельности, направлен в первую очередь на поддержку и развитие социальной сферы, способствует профессиональному и духовному росту работников предприятия.  
         </p>	
 		</div>

 		<div class="agrid2">
        <%=image_tag("about3.jpg")%>
        <h3>НАШИ НАГРАДЫ И ДОСТИЖЕНИЯ</h3>
        <p>
        Предприятие было награждено дипломом лауреата Всеукраинского конкурса качества продукции «100 лучших товаров Украины» в номинации «товары производственно-технического назначения», а по результатам 2010 года завод был отмечен международным экономическим рейтингом «Лига лучших» и признан «Лидером отрасли». 
        </p>
 		</div>

 	</div>
 </div>
</div>
  <div class="sabout_image">
    <div class="sabout_cnt">
        <div class="container center">
            <div class="sabout_content">
                <h2> ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ<br>

		ГОРНО-ШАХТНОГО ОБОРУДОВАНИЯ
                
                </h2>
                <p>
                ООО "КРАСНОАРМЕЙСКИЙ МАШИНОСТОРИТЕЛЬНЫЙ ЗАВОД"
                </p>
            </div>
        </div>
    </div>
  </div>
<% end %>	
