
<% provide(:page_title, 'Контакты') %>


<div class="hback">
	<%=image_tag("kmz3.jpg")%>
</div>


	<div style='width: 100%;'>
	  <div id="map" style='width: 100%; height: 400px;'></div>
	</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
		 provider: {
	      disableDefaultUI: false,
	      scrollwheel: false,

	      // pass in other Google Maps API options here
	    },

		internal: {
			id: 'map'
			}

	},

	function(){ 

  markers = handler.addMarkers([

    {
      "lat": 48.28103,
      "lng": 37.173353,
      "picture": {
        "url": "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=A|EC4B3B|EC4B3B",
        "width":  36,
        "height": 36,

      },
      "infowindow": "ООО Красноармейский машиностроительный завод ул. Добропольская 2 Красноармейск Донецкая 85300"

    }

  ]);
  
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(17);
  

});

</script>


<div class="row3" id="contact">
	
	<div class="container contact" id="cont">
		<h3> Наши контакты </h3>
	<dl>

		<dt>Юридический адрес:</dt>
		<dd>83086, г.Донецк, пл.Коммунаров, 4</dd>
	</dl>

	<dl>
		<dt>Почтовый адрес:</dt>
		<dd>85300, г.Красноармейск, ул.Добропольская, 2</dd>
	</dl>

	<dl>
		<dt> р/с 26005000076797</dt>
		<dt>в ПАО "ЕРСТЕ БАНК" г.Киев</dt>
		<dt>МФО 380009; ОКПО 04719432;</dt>
		<dt>ИНН 047194305163;</dt>
		<dt>Св-во № 100250234</dt>
	</dl>

	<dl>
		<dt>Тел:</dt>
		<dd>(06239)2-09-61</dd>
	</dl>

	<dl>
		<dt>e-mail:</dt>
		<dd>kmz_ko@i.ua</dd>
	</dl>
	
	</div>
</div>



