
<% provide(:page_title, 'Главная') %>

<div id="wrapper">
 <div class="slider-wrapper theme-default">
  <div class="ribbon"></div>
  <div id="slider" class="ramblingSlider">
   <%= image_tag ("1.jpeg"),title:"This is a caption"%>
   <%= image_tag ("2.jpg"), title:"Caption"%>
   <%= image_tag ("3.jpg"), title:"This is an example of a captionThis is an example of a captionThis is an example of a captionThis is an example of a captionThis is" %>
  </div>
 </div>
</div>

<script>
<script type="text/javascript">

    $(window).ready(function() {
        $('#slider').ramblingSlider();
            });
            </script>


