.hback img{
 min-width: 949px;
	height: 106px;
}
.about{
  min-width: 949px;
  padding-top: 41px;
padding-bottom: 43px;
color: white;

background: #EC4B3B none repeat scroll 0% 0%;

}

.arow1{
	
	margin-left: -2.33%;
	    margin-top: 17px;
clear: both

}
.arow1:before {
 display: table;
content: "";
line-height: 0;
}

.arow1:after{
	display: table;
    content: "";
    line-height: 0;
	clear: both;
}
.agrid1{
	    width: 47.67%;

    float: left;
    min-height: 1px;
    margin-left: 2.33%;
}
.offs2{
	margin-top: 16px;
}
.arow2{
	margin-left: -2.33%;
	    margin-top: 25px;
}
.agrid2 {
      width: 31%;

    float: left;
    min-height: 1px;
    margin-left: 2.33%;

}
.arow2 h3 {
	margin-top: 27px;
}

.sabout_image{
  min-width: 929px;
 display: block;
 
overflow: hidden;
margin: 0px;
padding: 0px;
border: 0px none;
font: inherit;

top: 0px;
left: 0px;
right: 0px;
background-image: url("kmz5.jpg");
background-color: inherit;
height: 500px;

background-repeat: no-repeat;

background-position: center center;

}

.sabout_cnt{
 position: relative;
 margin-top: 80px;
}
.sabout_content {
	vertical-align: middle;
	padding: 51px 100px;
}
.sabout_content h2 {
	color: #EC4B3B;
	font-size: 60px;
    line-height: 70px;
    font-family: "PT Sans Narrow",sans-serif;
text-transform: uppercase;
font-weight: 700;
}
.sabout_content p {
      text-transform: uppercase;
    color: #FFF;
    font-size: 18px;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    margin-top: 15px;

}