.product {
	padding-top: 50px;
padding-bottom: 50px;
background: #EC4B3B none repeat scroll 0% 0%;
}
.product2 {
	padding-top: 0px;
padding-bottom: 50px;
background: #EC4B3B none repeat scroll 0% 0%;
}
.grid_8{
	width: 65%;
	float: left;
min-height: 1px;
margin-left: 2%;
}

.grid4{
	width: 31%;
    float: left;
    min-height: 1px;
    margin-left: 2%;
    color: white;
}
.grid4 h1{

	font: 400 65px/65px "PT Sans Narrow",sans-serif;
	left: 0%;
	text-align: left;
	margin-top: 0;
	margin-bottom: 15px;
}
.grid4 h3{
	
	text-align: left;
}
}
